html {
  background-color: rgb(15 23 42);
}
.react-autosuggest__container {
    width: 100%;
}
.react-autosuggest__input {
    color: black;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    width: 100%;
    border-radius: 4px;
}
.react-autosuggest__suggestions-list {
    color: black;
    position: fixed;
    background: white;
    padding: 10px;
}

.react-autosuggest__suggestion {
    cursor: pointer;
}

.ReactModal__Overlay--after-open {
    background-color: rgba(51,65,85, 0.25) !important;
}
